/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: #ffffff;
    --body: #F8F5F2;
    --paragrafo: #DCDCDC;
    --card-body: #ffffff;
    --button: #C1121F;

}

/* BODY AND HEADER AND PADDING */



section {
    padding: 1em;

}


html,
body {
    background-color: var(--body);
    overflow-x: hidden;
}




header img {
    height: 600px;
    filter: brightness(70%);
}




header {
    position: relative;
}





.title {
    position: absolute;
    font-family: "Cinzel", serif;
    top: 6em;
    font-size: 2.5em;
    margin-left: 1em;
    color: var(--primary);
    width: 80%;
    text-align: center;
    font-weight: 500;



}




.texto {
    position: absolute;
    top: 30em;
    color: var(--paragrafo);
    margin-left: 7em;
    margin-top: 1em;
    font-size: .8em;
    font-weight: 300;

}




.texto-logo {
    position: absolute;
    top: 3em;
    color: #F8F9FA;
    margin-left: 4em;
    font-size: 1.3em;
    font-weight: 500;
    text-shadow: 0 0 6px #F5F5F5;
}




.card-img {
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 0;
}


.card-body {
    background-color: var(--card-body);
    min-height: 150px;
    display: flex;
    flex-direction: column;



}



.second-title {
    color: #4B3621;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Cinzel", serif;
}



.name {
    color: #5A3E2B;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 700;

}


.type {
    font-size: .9em;
    color: #8B7D72;
    font-weight: 500;

}




.price {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

}


.old-price {
    font-size: .9em;
    text-decoration: line-through;
    color: #A1866F;
}


.new-price {
    font-weight: bolder;
    color: #000000;
}





.link-button {
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-top: 2em;
    background-color: var(--button);
    padding: 1.1em 2em;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}




.video-container video {
    object-fit: contain;
    width: 100%;
}



.information {
    background-color: rgba(255, 0, 0, 0.1);
    height: 350px;
    padding: 1.2em;
    border-radius: 3px;

}



.information h3 {
    font-size: 1.2em;
    font-family: "Cinzel", serif;
    color: rgba(80, 80, 80, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 100;
}